@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500;700&family=Ubuntu:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    font-family: 'Comfortaa';
    background-image:url("./assets/space_bg.gif"); 
}

h1 {
    font-size: 48px;
    margin-top: 3%;
}

h1:hover {
    font-size: 48px;
    color: cyan;
    margin-top: 3%;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-div img {
    width: 8vw;
    height: auto;
}

.form-div button {
    background-color: aliceblue;
    border: none;
    font-size: 26px;
}

.form-div button:hover {
    background-color: gold;
    border: none;
    font-size: 26px;
}

.form-div input {
    font-size: 26px;
}

#gif-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#gif-div img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

#header-img, #footer-img {
    width: 100vw;
    height: 10vh;
}

.hidden {
    display: None;
}

#see-more {
    font-size: 20px;
}



