@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: aliceblue;
    font-family: 'Ubuntu';
}

h1 {
    font-size: 48px;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-div img {
    width: 8vw;
    height: auto;
}

.form-div button {
    background-color: aliceblue;
    border: none;
    font-size: 26px;
}

.form-div button:hover {
    background-color: gold;
    border: none;
    font-size: 26px;
}

.form-div input {
    font-size: 26px;
}

.hidden {
    display: None;
}

#see-more {
    font-size: 20px;
}


